
<!-- add grid container div? -->

<div class="userIntro">
  <h2>
    <%= @user.username %>
    <% if @user.banned %>
      <span class="badge badge-info">banned</span>
    <% end %>
  </h2>

  <% if current_user && current_user.admin %>
    <hr>
    <!-- Laiska tyyli, laitetaan nyt tällä kertaa tänne -->
    <b style="margin-right: 50px">Mod options</b>
    <% if @user.banned %>
      <%= link_to "Unban", user_toggle_banned_path(@user.id), method: :post, class: "btn btn-primary btn-link" %>
    <% else %>
      <%= link_to "Ban", user_toggle_banned_path(@user.id), method: :post, class: "btn btn-danger" %>
    <% end %>
  <% end %>
  <hr>
</div>

<div class="memberships">
  <p>member of</p>
  <ul>
    <% @user.beer_clubs.each do |club| %>
      <li><%= link_to club.name, beer_club_path(club.id) %></li> <!-- HUOM CLUB - EI - CLUBS -->
    <% end %>
  </ul>
</div>

<div class="userRatings">
  <h3>
    ratings
  </h3>
<ul>
  <% @user.ratings.each do |rating| %>
    <li>
      <%= rating %>
      <% if @user == current_user %> <!-- TÄMÄ EI RIITÄ YKSINÄÄN, laitettiin myös destroy-metodille samanlainen ehto, jos joku yrittää kiertää konsolimuutoksilla tämän -->
        <%= link_to 'delete rating', rating_path(rating.id), method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </li>
  <% end %>
</ul>
</div>

<% if @user == current_user %>
  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', users_path %>
