

<h2>
  <%= @brewery.name%>
  <% if not @brewery.active  %>
    <span class="badge badge-info">inactive</span>
  <% end %>
</h2>

<p>
  <i>Established in: <%= @brewery.year %></i>
</p>

<p>
  Current selection consists of <b><%= @brewery.beers.count %></b> beer(s)
</p>

<p>
  <% @brewery.beers.each do |beer| %>
  <%= link_to beer.name, beer_path(beer.id) %>
  <% end %>
</p>

<p>
  <% if @brewery.ratings.empty? %>
    Brewery does not have rated beers!
  <% else %>
    <%= round(@brewery.average_rating) %> average rating
  <% end %>
</p>

<!-- Tuo esiin consolitulostuksen <%= @brewery.beers.to_a %> -->

<!-- Seems like @brewery finds id implicitly -->
<%= link_to 'Edit', edit_brewery_path(@brewery) if current_user%> |
<%= link_to 'Back', breweries_path %>
