<%= form_with(model: beer, local: true) do |form| %>
  <% if beer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(beer.errors.count, "error") %> prohibited this beer from being saved:</h2>

      <ul>
      <% beer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-border">
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="form-group">
  <!-- OLETUSVALINTA ON AINA LAGER (ENSIMMÄINEN VALINTA) VAIKKA OLISI EDIT ERI TYYPPI - QoL fix tulevaisuudessa mahdollinen??? -->
  <!-- OLETUSVALINTA ON AINA LAGER (ENSIMMÄINEN VALINTA) VAIKKA OLISI EDIT ERI TYYPPI - QoL fix tulevaisuudessa mahdollinen??? -->
  <!-- OLETUSVALINTA ON AINA LAGER (ENSIMMÄINEN VALINTA) VAIKKA OLISI EDIT ERI TYYPPI - QoL fix tulevaisuudessa mahdollinen??? -->
    <%= form.label :style_id %>
    <%= form.select :style_id, options_from_collection_for_select(@styles, :id, :beer_style) %>
    <!-- <%= form.text_field :style %> -->
  </div>

  <div class="form-group">
    <%= form.label :brewery_id %>
    <%= form.select :brewery_id, options_from_collection_for_select(@breweries, :id, :name)%>
    <!-- <%= form.number_field :brewery_id %> -->
  </div>
  <%= form.submit class: "btn btn-primary"%>
  </div>
<% end %>
