<!DOCTYPE html>
<html>
  <head>
    <title>RateBeer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
    <div class="navbar">
    <%= link_to 'breweries', breweries_path%>
    <%= link_to 'beers', beers_path%>
    <%= link_to 'ratings', ratings_path%>

    <% if session[:user_nil].nil? %>
      <span>Welcome back, <%= User.find_by(id: session[:user_id]).username %>!</span>
    <% else %>
      <span>Welcome, guest!</span>
    <% end %>
    </div>

    <%= yield %>
  </body>
</html>
